@import url("https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
$green: #198754;
$green-1: #789a3d;
$gray: #bdc3c7;
$white: #fff;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.card-2 {
    width: 300px;
    height: 300px;
    margin-left: 10px;
    padding: 8px 8px 16px 8px;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1) !important;
    border: 1px #f3f3f3 solid;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
        box-shadow: none !important;
    }

    &:hover &__title {
        color: #219653;
    }

    &:hover &__wrapper-img img {
        transform: scale(1.25);
    }

    &__wrapper-img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1);
            transition: all 0.4s linear;
        }
    }
    &__title {
        font-size: 15px;
        text-transform: capitalize;
        text-align: center;
        font-weight: 600;
        margin-top: 15px;
        transition: all 0.4s linear;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff; /* Center slide text
vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide-1,
.swiper-silde-2 {
    background: #fff !important;
}
.swiper-silde-2 {
    width: 300px !important;
    height: 100% !important;
}
.swiper-wrapper-1 {
    height: 600px !important;
}
.swiper-wrapper-2 {
    height: 350px !important;
}
.swiper-button-next-1,
.swiper-button-next-2 {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    border: 1px rgba(0, 0, 0, 0.075) solid;
    position: absolute;
    top: 505;
    right: -50px;
    &:focus {
        outline: none !important;
    }
}
.swiper-button-next-1::after,
.swiper-button-next-2::after {
    margin-left: 5px;
    color: black;
    font-size: 24px;
}
.swiper-button-next-1:hover::after,
.swiper-button-next-2:hover::after {
    font-weight: 600;
}
.swiper-button-prev-1,
.swiper-button-prev-2 {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50px;
    border: 1px rgba(0, 0, 0, 0.075) solid;
    position: absolute;
    top: 50%;
    left: -50px;
    &:focus {
        outline: none !important;
    }
}
.swiper-button-prev-1::after,
.swiper-button-prev-2::after {
    margin-left: -3px;
    color: black;
    font-size: 24px;
}
.swiper-button-prev-1:hover::after,
.swiper-button-prev-2:hover::after {
    font-weight: 600;
}
